node_modules
**/node_modules
dist
**/dist
.turbo
**/.turbo
data
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

.git
.env
.env.*
!.env.example

.expo
apps/mobile/android
apps/mobile/ios
*.vsix
apps/vscode/media/web

.DS_Store
